<!-- The form is bound to the forgotPasswordForm FormGroup in the component class -->
<form [formGroup]="forgotPasswordForm">

  <!-- A flex container for the entire forgot password form, providing layout and styling -->
  <div class="forgot-password-form-flex">
    
    <!-- Material Design card to encapsulate the form content -->
    <mat-card>
      
      <!-- Card title to indicate the purpose of the form -->
      <mat-card-title class="title mb-3">Forgot Password</mat-card-title>
      
      <!-- Card content containing the form fields -->
      <mat-card-content class="d-flex flex-column gap-2">
        
        <!-- Form field for entering the email address associated with the account -->
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="username">
        </mat-form-field>

        <!-- Form field for entering the new password -->
        <mat-form-field>
          <input type="password" matInput placeholder="New Password" formControlName="newPassword">
        </mat-form-field>

        <!-- Form field for confirming the new password -->
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm New Password" formControlName="confirmNewPassword">
        </mat-form-field>

        <!-- Conditional message displayed if the new password and confirm new password fields do not match -->
        <div *ngIf="showMessage" class="text-danger">
          Passwords are not the same.
        </div>

      </mat-card-content>

      <!-- Card actions containing the submit button -->
      <mat-card-actions>
        <div class="button-flex-container">
          
          <!-- Button that triggers the resetPassword() function when clicked -->
          <button mat-raised-button color="primary" (click)="resetPassword()">Reset Password</button>
        
        </div>
      </mat-card-actions>

    </mat-card>
  </div>
</form>
